@model List<TeatroModel>
@{
    Layout = "~/Views/Shared/_LayoutTables.cshtml";
}
@if (Model == null || !Model.Any())
{
    <p>No hay Teatros para mostrar.</p>
}
else
{
    <h2 class="text-center">Consulta de Teatros de peliculas</h2>
    <a class="btn btn-success " asp-area="" asp-controller="Teatro" asp-action="CrearTeatro"> Crear nuevo cine</a>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>cine</th>
                <th>ubicacion</th>

                <th></th>


            </tr>
        </thead>
        <tbody>
            @foreach (var Teatro in Model)
            {
                <tr>
                    <td>@Teatro.nombre</td>
                   
                    <td>
                        @Teatro.ubicacion
                    </td>

                    <td>

                        <a class="btn btn-success " asp-area="" asp-controller="Teatro" asp-route-id="@Teatro._id" asp-action="VerTeatro"> Editar Teatro</a>
                        <form asp-controller="Teatro" asp-action="EliminarTeatro" method="post" style="display:inline;" class="delete-form">
                            <input type="hidden" name="id" value="@Teatro._id" />
                            <button type="submit" class="btn btn-warning">Eliminar Teatro</button>
                        </form>

                    </td>



                </tr>
            }
        </tbody>
    </table>
}