@model TeatroModel
@if (Model == null)
{
    <p>No hay nada para mostrar.</p>
}
else
{
    <h2 class="text-center">@Model.nombre</h2>

    <table class="table">
        <thead>
            <tr>
                
                <th>nombre del cine</th>
                <th>ubicacion</th>
                <th></th>


            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    @Model.nombre
                </td>
                <td>
                    @Model.ubicacion
                </td>

                <td>

                    <a class="btn btn-success " asp-area="" asp-controller="Teatro" asp-route-id="@Model._id" asp-action="EditarTeatro"> Editar cine</a>


                </td>



            </tr>

        </tbody>
    </table>
}
