@model CompraModel
@{
    var clientSecret = Model.clientSecret;
}
<div>
    <div id="checkout">
        <!-- Checkout will insert the payment form here -->
    </div>
    
</div>
<script src="https://js.stripe.com/v3/"></script>
<script>
        // Initialize Stripe.js
    const stripe = Stripe('pk_test_51RBID8FQPb5J8Rcw67cp2188zor6lUTL5K2l89lznfTOBYcKwOtprmW5uhXKiCHSk228nI39MzSw6BLWTmb94tYF00Qkw5JiuL');
 
    initialize();

    // Fetch Checkout Session and retrieve the client secret
    async function initialize() {
      const fetchClientSecret = async () => {
        const response = await fetch("http://localhost:8901/api/createCheckoutSession", {
          method: "POST",
        });
        const { clientSecret } = await response.json();
        return clientSecret;
      };

      // Initialize Checkout
      const checkout = await stripe.initEmbeddedCheckout({
        clientSecret: '@clientSecret'
      });

      // Mount Checkout
      checkout.mount('#checkout');
    }
</script>