@{
    ViewData["Title"] = "Home Page";
    var rol = Context.Request.Cookies["Rol"] ?? "annonymus";
    var isAdmin =  rol!.Equals("Admin");
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Context.Request.Cookies["Username"]</p>
    <p>@Context.Request.Cookies["Rol"]</p>
    <p>@isAdmin</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
