<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ventaPeliculaWeb.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap" rel="stylesheet">
    <style>
        .navbar-brand {
            font-weight: bold;
            font-size: 1.8rem;
            color: #e50914 !important;
        }

        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 1;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-film me-2"></i>CineFlex
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                        @if (@Context.Request.Cookies["Rol"] == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Movies" asp-action="Index">peliculas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Salas" asp-action="Index">Salas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Teatro" asp-action="Index">Cines</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Sesion" asp-action="Index">Sesiones</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="TipoSala" asp-action="Index">Tipo sala</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Dulceria" asp-action="VerDulcerias">
                                    Admin Dulceria
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Factura" asp-action="Index">Facturas</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="ProductoDulceria" asp-action="VerProductoDulcerias">
                                    Admin Producto Dulcerias
                                </a>
                            </li>

                        }

                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="verPeliculas">
                                    <i class="fas fa-clock me-1"></i>Películas Recientes
                                </a>
                            </li>


                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Dulceria" asp-action="Index">
                                Dulceria
                            </a>
                        </li>


                        
                        
                    </ul>

                    <div class="d-flex gap-2">
                        
                        @if (@Context.Request.Cookies["Token"] != null)
                        {


                            <a class="btn btn-outline-light" asp-area="" asp-controller="Auth" asp-action="Logout">
                                <i class="fas fa-user-plus me-1"></i>Logout
                                </a>
                            
                        }
                        else {


                            <a class="btn btn-outline-light" asp-area="" asp-controller="Auth" asp-action="Register">
                                        <i class="fas fa-user-plus me-1"></i>Registrarse

                                </a>


                            <a class="btn btn-primary" asp-area="" asp-controller="Auth" asp-action="Login">
                                        <i class="fas fa-sign-in-alt me-1"></i>Login

                                </a>
                            
                        }
                        
                       </div>
                        
                    
                </div>
            </div>
        </nav>
    </header>
    
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    
    <footer class="bg-dark text-light pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5><i class="fas fa-film me-2"></i>CineFlex</h5>
                    <p>Tu tiquetera de confianza para los mejores cines de la ciudad.</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <p>&copy; 2024 CineFlex. Todos los derechos reservados.</p>
                    <p>This site is protected by hCaptcha and its </p>
                    <a href="https://www.hcaptcha.com/privacy">Privacy Policy</a> and
                    <a href="https://www.hcaptcha.com/terms">Terms of Service</a> apply.

                    <div class="social-links mb-3">

                        <div class="social-links">

                            <a href="#" class="text-light me-3"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
